@use "../abstracts/" as *;

.container {
   background-color: $input-bg-color;
   display: flex;
   justify-content: space-between;
   max-width: 1100px;
   width: 100%;
   margin-block: 3vh;
   min-height: 40vh;
   border-radius: 30px;
   box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
   padding: 40px
}
