// @use "../../styles/sass/abstracts/" as *;

#weather {
   margin-top: 50px;
   display: flex;

   @media (max-width: 1032px) {
      flex-wrap: wrap;

      .weather-header {
         flex-basis: 1032px;
         align-items: center;
      }

      #weather-content {
         flex-basis: 1032px;
      }
   }
}

.weather-header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;

   h2 {
      font-size: 2rem;
      font-weight: 800;
   }

   > p {
      color: rgb(237, 235, 235);
   }

   > div {
      display: flex;
      align-items: center;
      gap: 20px;

      div {
         display: flex;
         flex-direction: column;
         align-items: center;

         p:first-child {
            font-size: 4rem;
            font-weight: 700;
         }
      }
   }
}

#weather-content {
   display: flex;
   flex-wrap: wrap;
   width: 370px;
   justify-content: flex-end;
   flex-wrap: wrap;

   @media (max-width: 1032px) {
      margin-top: 30px;
      width: 100%;
   }
}


