@use "../../styles/abstracts/" as *;

header {
   min-height: 200px;
   // height: 100%;
   margin-top: 5vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   line-height: 30px;

   h1 {
      font-size: 3rem;
      font-weight: 700;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
      display: block;
   }

   p {
      text-align: center;
   }
}

.form {
   display: flex;
   justify-content: space-evenly;
   // background-color: red;
   width: 100%;
   max-width: 600px;

   input[type="text"] {
      background-color: $input-bg-color;
      font-size: 0.8rem;
      color: white;
      padding: 15px 3rem;
      border-radius: 7px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 100%;
      max-width: 400px;
      margin-right: 10px;
      cursor: text;
   }

   input[type="submit"] {
      background-color: $input-bg-color;
      font-size: 0.8rem;

      color: white;
      border: none;
      border-radius: 7px;
      padding: 18px 1rem;
      cursor: pointer;

      &:hover {
         background-color: rgba(255, 255, 255, 0.3);
      }
   }
}
