@use "./styles/components/" as *;
@import "../public/vendor/normalize.css";
@import "../public/vendor/reset.css";

body {
   font-family: "Inter", sans-serif;
   background: linear-gradient(-65deg, #3271e8, #569cf1);
   color: white;
}

#app-root {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   align-items: center;
   align-content: center;
   padding-inline: clamp(20px, 12vw, 100px);
}

img {
   filter: brightness(0) invert(1) sepia(1) hue-rotate(200deg);
   height: 4rem;
   color: white;
   opacity: 0.5;
}
